<h1><%= @item.item_name %></h1>
<%= image_tag @item.photo.url(:thumb) %>
$<%= @item.item_price %><br>
<%= @item.item_description %><br>
<%= @item.seller_name %><br>
<%= @item.seller_email %><br>
<%= @item.seller_phone_number %><br>
<%= @item.seller_location %><br>
