<!DOCTYPE html>
<html>
<head>
  <title>ClassyClassified</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'classifieds' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <%= render(partial: 'shared/top_nav') %>
    </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>  
  <div class="row">
    <%= yield %>
  </div>
    <div class="row">
      <footer>
        <hr />
          Copyright &copy <%= Time.now.year %>
      </footer>
    </div>
  </div>
</body>
</html>
